<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <button id='noiseButton' value='NOISE TIME!'>NOISE TIME!</button>
  <button id='noNoiseButton' value='STOP NOISE!'>STOP NOISE!</button>
  <video id="videoOutput" width="160px" height="120px" autoplay></video>
  <canvas id="canvasOutput" width="500px" height="660px" align="center">

  <div id="audioOutput" class="destination">
    <div class="node node-input"><span class="node-button">&nbsp;</span></div>
  </div> <!-- /#output -->

  <script src="js/jquery-1.7.2.min.js"></script>
  <script src="js/analyser.js"></script>
  <script src="js/audio.js"></script>
  <script src="js/theremin.js"></script>
  <script src="js/init.js"></script>
</body>
</html>
